
/* Base */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 1rem;
}


.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  outline: none;
}


.btn-disabled {
  background: #ccc !important;
  color: #888 !important;
  cursor: not-allowed !important;
  border: none !important;
  opacity: 0.7;
}

/* Sizes */
.btn-sm {
  padding: 4px 10px;
  font-size: 0.8rem;
}

.btn-md {
  padding: 8px 16px;
  font-size: 1rem;
}

.btn-lg {
  padding: 12px 20px;
  font-size: 1.2rem;
}

/* border radius */
.btn-radius-sm {
  border-radius: 10px;
}

.btn-radius-md {
  border-radius: 15px;
}

.btn-radius-lg {
  border-radius: 20px;
}

/* Variants */
.btn-primary {
  background-color: var(--color-primary2);
  color: var(--color-white);
}
.btn-primary:hover:not(:disabled) {
  background-color: var(--color-primary1);
}

.btn-primary:focus,
.btn-primary:active {
  outline: none;
  box-shadow: none;
}


.btn-secondary {
  background-color: var(--color-secondary2);
  color: var(--color-gray-light);
}


.btn-secondary:hover:not(:disabled) {
  background-color: var(--color-secondary1);
}


.btn-secondary:focus,
.btn-secondary:active {
  outline: none;
  box-shadow: none;
}

.btn-warning {
  background-color: var(--color-warning1);
  color: var(--color-dark);
}

.btn-warning:hover:not(:disabled) {
  background-color: var(--color-warning2);
}

.btn-warning:focus,
.btn-warning:active {
  outline: none;
  box-shadow: none;
}

.btn-info {
  background-color: var(--color-info);
  color: var(--color-dark);
}

.btn-info:hover:not(:disabled) {
  background-color: var(--color-link);
}

.btn-info:focus,
.btn-info:active {
  outline: none;
  box-shadow: none;
}

.btn-danger {
  background-color: var(--color-danger);
  color: var(--color-white);
}

.btn-danger:hover:not(:disabled) {
  background-color: var(--color-danger-hover);
}

.btn-danger:focus,
.btn-danger:active {
  outline: none;
  box-shadow: none;
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-primary-text);
  border: none;
}

.btn-ghost:hover:not(:disabled) {
  background-color: var(--color-gray-light);
}

.btn-ghost:focus,
.btn-ghost:active {
  outline: none;
  box-shadow: none;
}

/* Link */
.btn-link {
  background: transparent;
  color: var(--color-link);
  text-decoration: underline;
  transition: transform 0.5;
}
.btn-link:hover {
  color: var(--color-link-hover);
  transform: scale(1.05);
}

.btn-link:focus,
.btn-link:active {
  outline: none;
  box-shadow: none;
}



/* Disabled */
.btn:disabled,
.btn-disabled {
  background-color: var(--color-gray);
  color: var(--color-gray-dark);
}


/* Full Width */
.btn-full {
  width: 100%;
}



/* Icon */
.btn-icon {
  display: inline-flex;
  margin-right: 8px;
}

/* Spinner */
.spinner {
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  margin-right: 8px;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .btn {
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
  }
}

.btn-pos-top-left {
  top: 0;
  left: 0;
}
.btn-pos-top-right {
  top: 0;
  right: 0;
}
.btn-pos-bottom-left {
  bottom: 0;
  left: 0;
}
.btn-pos-bottom-right {
  bottom: 0;
  right: 0;
}
.btn-pos-center {
  top: 50%;
  left: 50%;
  
}

.btn-pos-left {
  left: 0;
  top: 50%;
}

.btn-pos-right {
  right: 0;
  top: 50%;
}

.btn-pos-bottom-center {
  left: 50%;
  bottom: 0;
}

.btn-pos-top-center {
  left: 50%;
  top: 0;
}