.toast-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toast {
  position: relative;
  min-width: 200px;
  padding: 15px;
  border-radius: 5px;
  color: rgb(31, 30, 30);
  cursor: pointer;
  margin-bottom: 10px;
  animation: dropDown 0.5s ease forwards, fadeOutUp 0.5s ease forwards 4.5s;
}

.toast-success {
  background-color: var(--color-primary1); 
}

.toast-error {
  background-color: var(--color-danger); 
}

.toast-warning {
  background-color: var(--color-warning1); 
}

.toast-info {
  background-color: var(--color-info); 
}

/* .toast-blank {
  background-color: white;
  border: 1px solid #ccc;
} */

.toast-blank {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0; /* remove default padding so you decide */
}

@keyframes dropDown {
  0% { transform: translateY(-100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes fadeOutUp {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-100%); opacity: 0; }
}
