.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-bottom: 0px;
  
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  background-color: #ccc;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: #8B5E3C;
  border-radius: 50%;
  transition: .3s;
}

input:checked + .slider {
  background-color: #22c55e;
}

input:checked + .slider::before {
  transform: translateX(20px);
}
